@model blog_challenge.Models.Blog

@{
    ViewBag.Title = "Details";
}


<h2>@Html.DisplayFor(itemModel=>itemModel.Bttitle)</h2>

<div>



    <td>
        <img src="@Url.Action("RetrieveImage","Blogs",new {id=Model.Bid})" />
    </td>
    <div>
        <td>@Html.DisplayFor(modelItem => modelItem.Bcontent) </td>
    </div>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Bid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
