@model IEnumerable<blog_challenge.Models.Blog>

@{
    ViewBag.Title = "Index";
}

<h2>List of Blogs</h2>


<table class="table">




    @foreach (var item in Model)
    {
        if(item.Bactive==true)
        { 
    <tr>

        <td>

            <a href="~/Blogs/Details/@item.Bid">   <b style="color:brown;font-size:40px;"> @Html.DisplayFor(modelItem => item.Bttitle)</b></a>
        </td>
        <td>
            <img width="100px" src="@Url.Action("RetrieveImage","Blogs",new {id=item.Bid})" />
        </td>

        <td>@Html.DisplayFor(modelItem => item.BDate) </td>


    </tr>


        <td>
            @Html.DisplayFor(modeItem=>item.Bcontent)
        </td>
       
        <tr>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Bid }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.Bid })
            </td>
        </tr>
        }
    }

</table>
